@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.comment_like {
    background-color: #B6D1D0;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 2px 20px 2px;
    margin: 0 5px 0 5px;
    border: 1.2px solid #4c726c;
    border-radius: 15px;
    color: #4c726c;
}

.comment_like:hover {
    color: rgba(245, 245, 245, 0.89);
    background-color: #4c726c;
}

.like_value {
    display: inline;
    color: #4c726c;
    font-size: 15px;
    font-family: 'Lato';
}

form {
    position: absolute;
    top: 0;
}

@media (max-width:580px) {
    .comment_like {
        font-size: 12px;
    }
    .like_value {
        font-size: 12px;
    }
}


/* @media (max-width:480px) {
    .comment_like {
        font-size: 10px;
    }
    .like_value {
        font-size: 10px;
    }
}

@media (max-width:390px) {
    .comment_like {
        font-size: 8px;
    }
    .like_value {
        font-size: 8px;
    }
} */